<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Trunfo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="home.service.js"></script>
    <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="default.css">
</head>

<body class="w-full text-center bg-stone-800">
    <div class="w-full text-5xl mt-24">
        SUPER HERO TRUNFO GAME
    </div>
    <div class="mt-24 w-full items-center text-2xl">
        <div class="w-full mx-auto py-4">
            <button onclick="toLogin()" class="w-40 mx-auto border py-3">
                Entrar
            </button>
        </div>
        <div class="w-full mx-auto py-4">
            <button onclick="toGame()" class="w-40 mx-auto border py-3">
                Jogar
            </button>
        </div>
    </div>
</body>

</html>