@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    font-family: 'Major Mono Display', monospace;
    color: white;
}